<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">&iexcl;Hola {{name}}!</span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Tu cuenta en&nbsp;Observatorio de Egresados UTP ha sido <strong>activada</strong>. </span></span></div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Puedes ingresar usando los datos que registraste.</span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><a href="https://observatorioutp.herokuapp.com/login">Haz clic aqu&iacute; para ir a la p&aacute;gina</a></span></span></div>
