<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">&iexcl;Hola {{ user.name }}!</span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Ha recibido este correo electr&oacute;nico porque ha solicitado restablecer la contrase&ntilde;a para su cuenta en {{ site_name }}.</span></span></div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Por favor, vaya a la siguiente p&aacute;gina y escoja una nueva contrase&ntilde;a:</span></span></div>

<div><a href="{{ protocol }}://{{ domain }}/password-reset/{{ uid }}/{{ token }}/">{{ protocol }}://{{ domain }}/password-reset/{{uid}}/{{token}}/</a></div>

<div>&nbsp;</div>
<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">Su usuario, en caso de haberlo olvidado: {{ user.get_username }}</span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">&iexcl;Gracias por usar nuestro sitio!</span></span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;">El equipo de {{ site_name }}</span></span></div>
