<div><span style="font-family:arial,helvetica,sans-serif;">&iexcl;Observatorio de Egresados UTP te da la bienvenida, {{name}}!</span></div>

<div>&nbsp;</div>

<div><span style="font-family:arial,helvetica,sans-serif;">Haz sido seleccionado(a) como administrador(a) de nuestra p&aacute;gina.</span></div>

<div><span style="font-family:arial,helvetica,sans-serif;">Para ingresar se te ha asignado una contrase&ntilde;a temporal, por favor <strong>c&aacute;mbiala</strong> inmediatamente al iniciar sesi&oacute;n por primera vez.</span></div>

<div>&nbsp;</div>

<div><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Datos de inicio de sesi&oacute;n:</strong>&nbsp;</span></span></div>

<ul>
	<li>
	<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Correo electr&oacute;nico:  </strong> {{email}}</span></span></p>
	</li>
	<li>
	<p><span style="font-size:14px;"><span style="font-family:arial,helvetica,sans-serif;"><strong>Contrase&ntilde;a temporal: &nbsp; </strong> {{password}}</span></span></p>
	</li>
</ul>

<div>&nbsp;</div>

<div><span style="font-family:arial,helvetica,sans-serif;"><a href="https://observatorioutp.herokuapp.com/login">Haz clic aqu&iacute; para ir a la p&aacute;gina.</a></span></div>