.Button{
    background-color:#FF5126;
    border-color: #FF5126;
    position: absolute;
    bottom: 3%;
    left: 5%;
    
}


.divMenu{
    position: relative;
    left: 20%;
    border-block-end-color: brown;
}

.footer{
    background-color: '#2F3E9E';
}
.h1{
    position: relative;
    color: white;
    font-size: 250%;
    
}

.h12{
    position: relative;
    color: white;
    font-size: 100%;
}

.h14{
    position:'relative';
    color: white;
    font-size: 90%;
}

.h13{
    position: relative;
    color: white;
    font-size: 100%;
    margin-top: 20%;
}
.icon{
    font-Size:100%;
    position: relative;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: #5B6ABF 
}

.nav-text {
    color: #fff;
} 